<h1>welcome to your dashboard</h1>

<%= button_to "imprimir volante de inscription", :controller => :dashboard, :action => :show_pdf %>
<%= button_to "consultar fecha cita", :controller => :adates, :action => :cita %>



     
