<h3>Bienvenido a tu Cuenta</h3>

<p>Estudiante</p>



<%= button_to "imprime aqui el formulario de inscripcion", :controller => :dashboard, :action => :show_pdf %>
<%= button_to "consulta aqui requisitos de admision", :controller => :dashboard, :action => :infor %>
<%= button_to "consulta aqui la fecha de la cita", :controller => :adate, :action => :cita %>
<%= button_to "llenar aqui el formulario de inscripcion", :controller => :estudiantes, :action => :new %>



     
