<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Colegio Externado De Colombia</h1>
                <hr>
                
                 <h2 class="section-heading">Condiciones Generales</h2>
            </div>
        </div>
    </header>

<section class="bg-primary" id="about">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h2 class="section-heading">Registro y formulario</h2>
                        <p class="text-muted"><ol>
							<li>Registre se en la Plataforma
							desde la pagina del Colegio</li> 

							<li>Espere la Notificacion de Registro 
							En el correo de contacto registrado</li>
							<li>ingrese a la plataforma y diligencie el formulario de inscripcion( si asi lo prefiere descargue e imprima el formulario y diligencielo)</li>
							<li>escoja el dia y la hora de la cita de las opciones disponibles</li>
							<li>informese de los documentos necesarios aqui, y presentese el dia escojido en el plantel</li>
							</ol>
						</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h2 class="section-heading">Requisitos de Admision</h2>
                        <p class="text-muted"><ol>
<li>presentar la documentacion en carpeta, tamaño oficio, marcada con nombres y apeliidos del estudiante.</li>

<li>curso al que aspira</li>

<li>nombre de los padres y numero telefonico</li>

</ol>
						</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h2 class="section-heading">documentos para el estudio financiero:</h2>
                        <p class="text-muted"><ol>

<li>constancia original y actualizada de ingresos del acudiente financiero expedida
por la empresa donde labora.
si son trabajoderes independientes, certificacion de contador publico con
fotocopia de la tarjeta profesional y antecedentes disciplinarios del contador</li>

<li>fotocopia de la cedula del padre y/o acudiente que se le haga el estudio financiero</li>
<li>extracto bancarios y/o movimientos de los 3 ultimos meses de la fecha de entrega de documentacion</li>

</ol>
						</p>
                    </div>
                </div>
               

            </div>
        </div>
</section>

<section id="services">
        <div class="container">
            <div class="row">
                 <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h2 class="section-heading">Ndocumentos academicos:</h2>
                    	<p class="text-muted"><ol>

<li>fotocopia del registro civil de nacimiento
fotocopia de la tarjeta de identidad para estudiantes mayores de 7 años</li>

<li>formulario de inscripcion diligenciado por internet o impreso con foto actual.</li>

<li>formato diligenciado por el colegio de procedencia del estudiante.</li>

<li>formato de entrevista de admision a estudiante.</li>

<li>fotocopia del informe final de notas del año anterior. </li>

<li>fotocopia de certificado de notas finales desde 5to de primaria para estudiantes aspirantes a secundaria.</li>

<li>fotocopia de los informes academicos de los periodos cursados a la fecha durante el presente año.</li>

<li>constancia de comportamiento social y convivencia.</li>

</ol>
						</p>
                    </div>
                </div>   

                             
               
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h2 class="section-heading">Notificacion de matricula pendiente</h2>
                        <h3>el dia de la matricula, presentarse el acudiente y el estudiante con la documentacion en el orden que se
describe a continuacion:</h3>
                    	<p class="text-muted"><ol>

<li>fotocopia ampliada del acudiente financiero al 150% que se le hizo el estudio financiero y firmara la matricula.</li>

<li>fotocopia y original de recibo de pago por concepto de matricula.</li>

<li>original del informe final del aspirante del año en curso previo para estudiantes de prescolar a cuarto de primaria.</li>

<li>original de notas desde 5 de primaria para aspirantes a secundaria,con la firma del rector y secretaria.</li>

<li>paz y salvo final del colegio de procedencia
certificados medicos, general, agudeza vizual y fonoaudiologia.</li>

<li>fotocopia del registro civil con factor RH para aspirantes de prescolar a segundo
y fotocopia de tarjeta de identidad para estudiantes de 3ero de primaria en adelante.</li>

<li>fotocopia del recibo de seguro escolar para el año aspirante que se cancela en el colegio al momento de la matricula.</li>

<li>fotocopia del carne de vinculacion a un sistema de seguridad social y/o constancia de afiliacion de su eps o medicina prepagada.</li>

<li>fotocopia de carne de vacunas para estudiantes de prescolar a 5to de primaria.</li>
							</ol>
						</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
