<h3> condiciones generales</h3>
<p>favor cumplir con las fechas establecidas para
evitar inconvenientes<p>

<p>los limites de edad establecidos por la institucion son los siguientes<p>

prejardin 3 - 4 años<br>
jardin 4 a 5 años<br>
transicion 5 a 6 años<br>
primero 6 a 7 años<br>
segundo 7 años<br>
tercero 8 años<br>
cuarto 9 años<br>
quinto 10 años<br>
sexto 11 años<br>

<h4>requisitos de admision</h4>
<ol>
<li>presentar la documentacion en carpeta, tamaño oficio, marcada con nombres y apeliidos del estudiante.</li>

<li>curso al que aspira</li>

<li>nombre de los padres y numero telefonico</li>

</ol>

<h4>documentos para el estudio financiero:</h4>
<ol>

<li>constancia original y actualizada de ingresos del acudiente financiero expedida
por la empresa donde labora.
si son trabajoderes independientes, certificacion de contador publico con
fotocopia de la tarjeta profesional y antecedentes disciplinarios del contador</li>

<li>fotocopia de la cedula del padre y/o acudiente que se le haga el estudio financiero</li>
<li>extracto bancarios y/o movimientos de los 3 ultimos meses de la fecha de entrega de documentacion</li>

</ol>

<h4>documentos academicos:</h4>

<ol>

<li>fotocopia del registro civil de nacimiento
fotocopia de la tarjeta de identidad para estudiantes mayores de 7 años</li>

<li>formulario de inscripcion diligenciado por internet o impreso con foto actual.</li>

<li>formato diligenciado por el colegio de procedencia del estudiante.</li>

<li>formato de entrevista de admision a estudiante.</li>

<li>fotocopia del informe final de notas del año anterior. </li>

<li>fotocopia de certificado de notas finales desde 5to de primaria para estudiantes aspirantes a secundaria.</li>

<li>fotocopia de los informes academicos de los periodos cursados a la fecha durante el presente año.</li>

<li>constancia de comportamiento social y convivencia.</li>

</ol>

<h4>requisitos de matricula:</h4>

<h5>el dia de la matricula, presentarse el acudiente y el estudiante con la documentacion en el orden que se
describe a continuacion:</h5>

<ol>

<li>fotocopia ampliada del acudiente financiero al 150% que se le hizo el estudio financiero y firmara la matricula.</li>

<li>fotocopia y original de recibo de pago por concepto de matricula.</li>

<li>original del informe final del aspirante del año en curso previo para estudiantes de prescolar a cuarto de primaria.</li>

<li>original de notas desde 5 de primaria para aspirantes a secundaria,con la firma del rector y secretaria.</li>

<li>paz y salvo final del colegio de procedencia
certificados medicos, general, agudeza vizual y fonoaudiologia.</li>

<li>fotocopia del registro civil con factor RH para aspirantes de prescolar a segundo
y fotocopia de tarjeta de identidad para estudiantes de 3ero de primaria en adelante.</li>

<li>fotocopia del recibo de seguro escolar para el año aspirante que se cancela en el colegio al momento de la matricula.</li>

<li>fotocopia del carne de vinculacion a un sistema de seguridad social y/o constancia de afiliacion de su eps o medicina prepagada.</li>

<li>fotocopia de carne de vacunas para estudiantes de prescolar a 5to de primaria.</li>


