<h1>Registro y Pago de Inscripcion</h1>

NOTIFICACION DE REGISTRO

Registre se en la Plataforma
 
desde la pagina del Colegio 

Espere la Notificacion de Registro 
En el correo de contacto registrado


RECIBO DE INSCRIPCION

Ingrese a la Plataforma 

Imprima el Recibo de Inscripcion PAGO

Verifique en el Recibo de Inscripcion la fecha limite de pago 

Pague en el Banco la Inscripcion

FORMULARIO DE INSCRIPCION

Ingrese a la Plataforma

pasadas 24 horas del pago en Banco

Consulte en la Plataforma Fechas del Proceso 

Diligencie en la Plataforma 
el  Formulario de Inscripcion