<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Colegio Externado De Colombia</h1>
                <hr>
                <p>Pre-escolar, Basica Primaria, Basica Secundaria, Media Vocacional</p>
                <%= link_to "Proceso de Matricula", home_show_path , :class => "btn btn-primary btn-xl"%>
            <%= link_to "requisitos de admision", dashboard_infor_path, :class => 'btn btn-primary btn-xl'  %>
            </div>
        </div>
    </header>