<h1>Bienvenido a nuestra pagina</h1>
<h2>Colegio Externado de Colombia</h2>
<p>PREESCOLAR,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,MEDIA VOCACIONAL</p>


<%= button_to "Proceso de Matricula", :controller => :home, :action => :show %>

<%= button_to "requisitos de admision", :controller => :dashboard, :action => :infor %>