<h2>Registro y Pago de Inscripcion</h2>


<p>Registre se en la Plataforma
desde la pagina del Colegio</p> 

<p>Espere la Notificacion de Registro 
En el correo de contacto registrado</p>


<h2>FORMULARIO DE INSCRIPCION</h2>

<p>Ingrese a la Plataforma </p>

<p>Imprima el formulario de Inscripcion</p>


<p>Consulte en la Plataforma Fechas del Proceso</p>

<p>Consulte en la plataforma los documentos requeridos para la inscripcion</p>

<p>presentese en el colegio el dia indicado</p>

