<h1>proceso de matricula</h1>
<h2>Registro y Pago de Inscripcion</h2>
<ol>
<li>Registre se en la Plataforma
desde la pagina del Colegio</li> 

<li>Espere la Notificacion de Registro 
En el correo de contacto registrado</li>

</ol>

<h2>Formulario de Inscripcion</h2>

<ol>

<li>Ingrese a la Plataforma </li>

<li>Imprima el formulario de Inscripcion</li>


<li>Consulte en la Plataforma Fechas del Proceso</li>

<li>Consulte en la plataforma los documentos requeridos para la inscripcion</li>

<li>presentese en el colegio el dia indicado</li>

</ol>