<h1>proceso de matricula</h1>
<h2>Registro y formulario</h2>
<ol>
<li>Registre se en la Plataforma
desde la pagina del Colegio</li> 

<li>Espere la Notificacion de Registro 
En el correo de contacto registrado</li>
<li>ingrese a la plataforma y diligencie el formulario de inscripcion( si asi lo prefiere descargue e imprima el formulario y diligencielo)</li>
<li>escoja el dia y la hora de la cita de las opciones disponibles</li>
<li>informese de los documentos necesarios aqui, y presentese el dia escojido en el plantel</li>
</ol>

<h2>notificacion de inscripcion</h2>

<ol>

<li>Ingrese a la Plataforma despues de 24 horas de entregados los papeles y revise su estado de matricula ( o verifique que recibio en su correo la notificacion de que su estado de matricula a pasado a "inscrito") </li>

<li>escoja nuevamente la cita para la prueba de admision</li>


<li>presentese en el colegio el dia especificado para presentar la prueba</li>

</ol>


<h2>notificacion de admicion</h2>

<ol>
<li>Ingrese a la Plataforma despues de 24 horas de presentada la prueba ( o verifique que recibio en su correo la notificacion de que su estado de matricula a pasado a "admitido") </li>

<li>nuevamente escoja el dia de su citacion para la entrevista familiar</li>

<li>presentese el dia de la entrevista con su acudiente</li>
</ol>

<h2>notificacion de matricula pendiente</h2>

<ol>
<li>Ingrese a la Plataforma despues de 24 horas de presentada la entrevista ( o verifique que recibio en su correo la notificacion de que su estado de matricula a pasado a "matricula pendiente") </li>

<li>imprima los formularios para la matricula</li>
<li>verifique cuales son los anexos necesarios para presentar</li>
<li>imprima y pague el recibo de matricula</li>
<li>presentese el dia especificado para oficializar la matricula</li>
</ol>




