<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Proceso de matricula</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Registro y formulario</h3>
                        <p class="text-muted"><ol>
							<li>Registre se en la Plataforma
							desde la pagina del Colegio</li> 

							<li>Espere la Notificacion de Registro 
							En el correo de contacto registrado</li>
							<li>ingrese a la plataforma y diligencie el formulario de inscripcion( si asi lo prefiere descargue e imprima el formulario y diligencielo)</li>
							<li>escoja el dia y la hora de la cita de las opciones disponibles</li>
							<li>informese de los documentos necesarios aqui, y presentese el dia escojido en el plantel</li>
							</ol>
						</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Notificacion de inscripcion</h3>
                        <p class="text-muted"><ol>

							<li>Ingrese a la Plataforma despues de 24 horas de entregados los papeles y revise su estado de matricula ( o verifique que recibio en su correo la notificacion de que su estado de matricula a pasado a "inscrito") </li>

							<li>Escoja nuevamente la cita para la prueba de admision</li>


							<li>Presentese en el colegio el dia especificado para presentar la prueba</li>

							</ol>
						</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Notificacion de admision</h3>
                        <p class="text-muted"><ol>
							<li>Ingrese a la Plataforma despues de 24 horas de presentada la prueba ( o verifique que recibio en su correo la notificacion de que su estado de matricula a pasado a "admitido") </li>

							<li>nuevamente escoja el dia de su citacion para la entrevista familiar</li>

							<li>presentese el dia de la entrevista con su acudiente</li>
							</ol>
						</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Notificacion de matricula pendiente</h3>
                    	<p class="text-muted"><ol>
							<li>Ingrese a la Plataforma despues de 24 horas de presentada la entrevista ( o verifique que recibio en su correo la notificacion de que su estado de matricula a pasado a "matricula pendiente") </li>

							<li>imprima los formularios para la matricula</li>
							<li>verifique cuales son los anexos necesarios para presentar</li>
							<li>imprima y pague el recibo de matricula</li>
							<li>presentese el dia especificado para oficializar la matricula</li>
							</ol>
						</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




