<h3>fecha citacion disponible</h1>
<p>consulte aqui la fecha de citacion disponible<p>

<table>
<tr>
<th>Date</th>
<th>Hour</th>
</tr>
<% dates = Adate.all %>
<% dates.each do |adate| %>
<tr>
<td><%= adate.date %></td>
<td><%= adate.hour %></td>
</tr>
<% end %>
<% if dates.size == 0 %>
<em>no Tweets found</em>
<% end %>
</table>
